
.main-background {
    width: 100%;
    height: 100%;
    background-image: url(img.png);
    background-size: cover;
    color: white;
    border-radius: 0px
    
}

.white-background {
    background: white;
    
    width: 80%;
    margin: 100px auto;
    padding: 20px;
    border-radius: 10px;
    
    
    
    
}

.blick-background {
    background: rgba(0,0,0,0.5);
    position: fixed;
    z-index: 5;
    width: 100%;
    height: 100%;
    display: none;
    margin-top: -1200px;
    
}

.nav-memu {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    align-items: center;
    
}

.nav-sub {
    display: none;
}

.left-menu {
    width: 150px;
    height: 100%;
    background: black;
    color: white;
    position: fixed;
    margin-left: -150px;
}
